{% extends "AccueilBundle::layout.html.twig" %}

{% block title %}
    Récapitulatif - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="menu">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="jumbotron">
                    <h1>Récapitulatif</h1>
                        <h2>{{ reservation.email }}</h2>
                        {% if reservation.demiJournee == 1 %}
                            <h2>Demi journée</h2>
                        {% elseif reservation.demiJournee == 0 %}
                            <h2>Journée entière</h2>
                        {% endif %}
                        <h2>{{ reservation.dateResa|date('d-m-Y') }}</h2>

                        {% for gens in reservation.billets %}
                            <h2><strong>{{ gens.nom~' '~gens.prenom }}</strong></h2>
                            <p>{{ gens.dateNaissance|date('d-m-Y') }}</p>
                            <p>{{ gens.tarifs.nom }} | {{ gens.tarifs.prix }}€</p>
                            <p>{{ gens.pays.nomFr }}</p>
                        {% endfor %}
                        <p><strong>Total : {{ reservation.prixTotal }} €</strong></p>

                        <form action="{{ path('paiement', {'id': reservation.id }) }}" method="POST">
                            <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_MQEN4HNJ1LfQGUSCRuo09lOL"
                                    data-amount="{{ reservation.prixTotal }}00"
                                    data-name="Musée du Louvre"
                                    data-description="Billets (€{{ reservation.prixTotal }}.00)"
                                    data-image="http://www.iphon.fr/public/2009/Q4/.musee-louvre-iphone-1_s.jpg"
                                    data-locale="auto"
                                    data-currency="eur">
                            </script>
                        </form>

                        <br><img src="https://www.paypal.com/fr_XC/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
