{% extends "AccueilBundle::layout.html.twig" %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="menu">
        <div class="row">
            <div class="jumbotron">
                <h1>Bienvenue au musée du Louvre !</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <div class="texte">
                            <h3>Normal</h3>
                            <p><i>à partir de 12 ans</i></p>
                        </div>
                        <p>
                            <a class="btn btn-default prix_accueil">16 €</a>
                            <a class="btn btn-primary" href="{{ path('reservation_date') }}">Réserver</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <div class="texte">
                            <h3>Enfant</h3>
                            <p><i>à partir de 4 ans et jusqu’à 12 ans (l’entrée est gratuite pour les enfants de moins de 4 ans)</i></p>
                        </div>
                        <p>
                            <a class="btn btn-default prix_accueil">8 €</a>
                            <a class="btn btn-primary" href="{{ path('reservation_date') }}">Réserver</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <div class="texte">
                            <h3>Senior</h3>
                            <p><i>à partir de 60 ans</i></p>
                        </div>
                        <p>
                            <a class="btn btn-default prix_accueil">12 €</a>
                            <a class="btn btn-primary" href="{{ path('reservation_date') }}">Réserver</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <div class="texte">
                            <h3>Réduit</h3>
                            <p><i>accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…)</i></p>
                        </div>
                        <p>
                            <a class="btn btn-default prix_accueil">10 €</a>
                            <a class="btn btn-primary" href="{{ path('reservation_date') }}">Réserver</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <div class="texte">
                            <h3>Famille</h3>
                            <p><i>2 adultes et 2 enfants ayant le même nom de famille</i></p>
                        </div>
                        <p>
                            <a class="btn btn-default prix_accueil">35 €</a>
                            <a class="btn btn-primary" href="{{ path('reservation_date') }}">Réserver</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
